body
{
 background-color: gray;
 font-family: Arial, Helvetica, sans-serif;
}

.obr{
    
margin-left: auto;
margin-right: auto;
}
.tytul{
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 100%;

}
.autor{
    text-align: center;

}
.opis
{
    text-align: justify;
}